<div class="container">
    <form method="post">
        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <h2>Welcome to Free-To-Play Games API</h2>
            </div>
        </div>
        <div class="container">
            <div class="form-group col-md-offset-3 col-md-5">
                <button asp-controller="freeToPlayGames" asp-action="SearchFreeToPlayGames" class="btn btn-primary">List of Free-To-Play Games</button>
            </div>
        </div>
    </form>
</div>